In [17]:
import pandas as pd 

data = pd.read_csv("wine_quality_classification.csv")
data.head()

   fixed_acidity  residual_sugar  alcohol  density quality_label
0            9.3             6.4     13.6   1.0005          high
1           11.2             2.0     14.0   0.9912        medium
2           11.6             0.9      8.2   0.9935           low
3           12.9             6.6     12.7   1.0002           low
4           13.9            13.8     10.4   0.9942        medium

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   fixed_acidity   1000 non-null   float64
 1   residual_sugar  1000 non-null   float64
 2   alcohol         1000 non-null   float64
 3   density         1000 non-null   float64
 4   quality_label   1000 non-null   object
dtypes: float64(4), object(1)
memory usage: 39.2+ KB

In [19]:
data.tail()

     fixed_acidity  residual_sugar  alcohol  density quality_label
995           13.0             4.3     13.1   1.0035           low
996            6.4             5.3      9.5   1.0040           low
997            4.5             9.0     13.8   0.9931        medium
998            5.3            12.2      8.1   0.9955           low
999            7.6            14.3     10.1   0.9924          high

In [20]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
fixed_acidity,1000.0,10.174300,3.452693,4.00,7.1000,10.4000,13.1250,16.000
residual_sugar,1000.0,7.692000,4.208920,0.50,4.1000,7.5500,11.5000,15.000
alcohol,1000.0,11.039900,1.760283,8.00,9.5000,11.0000,12.6000,14.000
density,1000.0,0.997505,0.004300,0.99,0.9939,0.9974,1.0012,1.005

In [24]:
data['quality_label']=data['quality_label'].replace({'high': 2, 'low': 0, 'medium':1})

C:\Users\hites\AppData\Local\Temp\ipykernel_24060\2187806130.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['quality_label']=data['quality_label'].replace({'high': 2, 'low': 0, 'medium':1})

In [25]:
data.head()

   fixed_acidity  residual_sugar  alcohol  density  quality_label
0            9.3             6.4     13.6   1.0005              2
1           11.2             2.0     14.0   0.9912              1
2           11.6             0.9      8.2   0.9935              0
3           12.9             6.6     12.7   1.0002              0
4           13.9            13.8     10.4   0.9942              1

In [31]:
from sklearn.model_selection import train_test_split
x = data.drop('quality_label', axis=1)

y = data['quality_label']

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=109)

In [32]:
from sklearn import svm

clf = svm.SVC(kernel='linear') 

clf.fit(x_train, y_train)

y_pred = clf.predict(x_test)

In [33]:
from sklearn import metrics

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.2966666666666667